/* Header Styles */
.header {
  margin-bottom: 3rem;
  text-align: center;
}

.headerContent {
  background-color: var(--secondary);
  margin: 0 auto;
  padding: 10px 0;
}

.headerDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  margin: 0 auto;
  padding: 15px 0;
}

.descriptionContainer {
  text-align: center;
  max-width: 700px;
}

.name {
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
  color: var(--primary);
}

.title {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.descriptionTitle {
  font-size: 2.5rem;
  line-height: 1.6;
  color: var(--white);
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--white);
}
